*{

    padding: 0;
    margin: 0;
    box-sizing: none;

}

:root{

    background-color: aliceblue;

}

header{

    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* MENU RETRATIL */

.hamburger{

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: 1480px;
    cursor: pointer;
    transition: transform 0.3s ease; 

}

.camada{

    width: 30px;
    height: 3px;
    margin: 3px 0;
    background-color: white;

}

.menu{

    position: fixed;
    top:0;
    left: -280px;
    width: 200px;
    height: 100%;
    background-color: rgb(64, 148, 116);
    padding: 20px;
    box-shadow: 0 0 10px black;
    transition: left 0.3s ease;

}

.menu li{

    margin-bottom: 10px;
    text-align: center;
    list-style: none;

}

.menu a{

    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;

}
/* MENU RETRATIL */

/* CSS & JS */

.menu.show-menu{

    left: 0;

}

/* CSS & JS */